.loader,
.loader:after {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.loader {
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.25rem;
    top: 50%;
    z-index: 1000;
    font-size: $font-size-sm;
    text-indent: -9999em;
    border-top: .15rem solid theme-color('primary');
    border-right: .15rem solid theme-color('primary');
    border-bottom: .15rem solid theme-color('primary');
    border-left: .15rem solid $gray-200;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loader-overlay {
    background-color: $white;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
