.container.login, .container.resetpass {
    margin-top: 2rem;
}
.login, .register, .resetpass {
    .card-header {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 2rem;
        padding-bottom: 0rem;
        font-size: 2rem;
    }
    .card-body {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .btn-primary {
        width: 100%;
        font-size: 1.20rem;
    }
    .lnks a {
        font-size: 1.10rem;
    }
    .txt-lft {
        text-align: left;
    }
    .txt-rgt {
        text-align: right;
    }
    .pdl-0 {
        padding-left: 0rem;
    }
    .pdr-0 {
        padding-right: 0rem;
    }
}